@tailwind base;
@tailwind components;
@tailwind utilities;

$primary-color-light: #d52626 !important;
$primary-color: #b91c1c !important;
$primary-color-deep: #991b1b !important;

* {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

p {
    font-weight: 400px;
    color: rgb(116, 116, 116);
}

[data-theme="forest"] p {
    color: rgb(155, 155, 155);
}

/* active link */
.navbar a.active {
    color: $primary-color-light;
}

/* btn shadow */
[data-theme="forest"] .btn {
    border-radius: 9px !important;
}

.link_btn {
    border-radius: 5px;
    padding: 5px 15px;
}

/* scroll bar style */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $primary-color;
    border-radius: 10px;
}

.progress::-moz-progress-bar {
    background: $primary-color;
    border-radius: 10px;
}

.progress:indeterminate {
    background: $primary-color;
    border-radius: 10px;
}

/* Handle on hover */

.progress:hover {
    background: $primary-color-deep !important;
}

.menu a,
.footer a:hover {
    background-color: transparent !important;
}

.menu a:hover,
.footer a:hover {
    color: $primary-color;
    background-color: transparent !important;
}

[data-theme="light"] .menu a:hover {
    color: $primary-color-deep;
    background-color: transparent !important;
}

[data-theme="light"] .footer a:hover {
    color: $primary-color-deep;
}

.menu a:hover,
.footer a:hover {
    color: $primary-color;
    background-color: transparent !important;
}


#skills .tooltip.tooltip {
    --tooltip-color: $primary-color;
    --tooltip-text-color: white;
}

[data-theme="light"] #skills .tooltip.tooltip {
    --tooltip-color: $primary-color-deep;
}

.tooltip:before,
.tooltip-top:before {
    left: 40px;
    display: inline-block;
    background-color: $primary-color;
}

.tooltip:after,
.tooltip-top:after {
    left: 40px;
}

// project cart section css
.githubLink{
    position: relative;
}
.githubLink{
    margin-left: 12px;
}
.githubLink:before{
    content: "|";
    position: absolute;
    left: -8px;
    height: 100%;
    width: 100%;
}
.githubLink:nth-child(2){
    margin-left: 6px;
}
.githubLink:nth-child(2)::before{
    content: "";
}


@media screen and (max-width:1280px) {
    .max-w-screen {
        overflow: hidden;
    }
}

@media screen and (max-width:400px) {
    .header_text {
        font-size: 26px;
    }

    #sliderBar h3 {
        font-size: 26px !important;
    }

    #slideBar h4 {
        font-size: 14px !important;
    }

    #slideBar .p-10,
    #contract .p-10 {
        padding: 20px;
    }
}

@media screen and (max-width:350px) {
    .header_text {
        font-size: 24px;
    }

    #sliderBar h3 {
        font-size: 24px !important;
    }

    #slideBar h4 {
        font-size: 14px !important;
    }
}