@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    --primary-color: #ef4444 !important;
    --light-primary-color: #dc2626 !important;
}

* {
    scroll-behavior: smooth;
    font-family: Inter, sans-serif;
    font-weight: 300;
}

p {
    font-weight: 400px;
    color: rgb(116, 116, 116);
}

[data-theme="forest"] p {
    color: rgb(155, 155, 155);
}

/* active link */
a.active {
    color: var(--primary-color) !important;
}

/* btn shadow */
[data-theme="forest"] .btn {
    border-radius: 9px !important;
}

.link_btn {
    border-radius: 5px;
    padding: 5px 15px;
}

/* scroll bar style */
::-webkit-scrollbar {
    width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
    border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--primary-color);
    border-radius: 10px;
}

.progress::-moz-progress-bar {
    background: var(--primary-color);
    border-radius: 10px;
}

.progress:indeterminate {
    background: var(--primary-color);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: var(--light-primary-color) !important;
}

.progress::-moz-progress-bar:hover {
    background: var(--light-primary-color) !important;
}

.progress:indeterminate:hover {
    background: var(--light-primary-color) !important;
}

.menu a,
.footer a:hover {
    background-color: transparent !important;
}

.menu a:hover,
.footer a:hover {
    color: var(--primary-color);
    background-color: transparent !important;
}

[data-theme="light"] .menu a:hover {
    color: var(--light-primary-color);
    background-color: transparent !important;
}

[data-theme="light"] .footer a:hover {
    color: var(--light-primary-color);
}

.menu a:hover,
.footer a:hover {
    color: var(--primary-color);
    background-color: transparent !important;
}


#skills .tooltip.tooltip {
    --tooltip-color: var(--primary-color);
    --tooltip-text-color: white;
}

[data-theme="light"] #skills .tooltip.tooltip {
    --tooltip-color: var(--light-primary-color);
}

.tooltip:before,
.tooltip-top:before {
    left: 40px;
    width: 80px;
}

.tooltip:after,
.tooltip-top:after {
    left: 40px;
}


.progress::-moz-progress-bar {
    background-color: var(--primary-color);
    border-radius: 3px;
}

[data-theme="light"] .progress::-moz-progress-bar {
    background-color: var(--light-primary-color);
}

.progress:indeterminate {
    --progress-color: var(--primary-color);
    border-radius: 4px;
}

[data-theme="light"] .progress:indeterminate {
    background-color: var(--light-primary-color);
}

.progress::-webkit-progress-value {
    background-color: var(--primary-color);
    border-radius: 3px;
}

[data-theme="light"] .progress::-webkit-progress-value {
    background-color: var(--light-primary-color);
}




/* project page */
.swiper-button-prev {
    margin-top: 2px !important;
    width: 25px !important;
    height: 25px !important;
}

.swiper-button-next {
    margin-top: 2px !important;
    width: 25px !important;
    height: 25px !important;
}

.swiper-button-prev::after {
    font-size: 25px !important;
}

.swiper-button-next::after {
    font-size: 25px !important;
}


@media screen and (max-width:1280px) {
    .max-w-screen {
        overflow: hidden;
    }
}

@media screen and (max-width:400px) {
    .header_text {
        font-size: 26px;
    }

    #sliderBar h3 {
        font-size: 26px !important;
    }

    #slideBar h4 {
        font-size: 14px !important;
    }

    #slideBar .p-10,
    #contract .p-10 {
        padding: 20px;
    }
}

@media screen and (max-width:350px) {
    .header_text {
        font-size: 24px;
    }

    #sliderBar h3 {
        font-size: 24px !important;
    }

    #slideBar h4 {
        font-size: 14px !important;
    }
}